body {
  height: 100vh;
  margin: 0;
  padding: 0 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #5f2c82; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #d5d1c5,
    #9fadb6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.calculator-body {
  margin: 2em auto;
  background-color: #e7e9e8;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  row-gap: 1.75em;
  flex-direction: column;
  max-width: 720px;
}

input {
  padding: 0.3em;
  font-size: 3.5em;
  border-radius: .25em;
  text-align: right;
  border: 2px solid #888888;
  box-shadow: inset 0px 0px 6px 3px #888888;
  outline: none;
  color: #89b9bd;
  background-color: #3f3f3f;
  background-image: linear-gradient(45deg, #3f3f3f 0%, #2a2a2a 100%);
}

.buttons-group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

button {
  border: 2px solid #7c989a;
  border-radius: 40px;
  background-color: #eae3dc;
  background: linear-gradient(45deg, #7c989a 0%, #e0e4e4 100%);
  box-shadow: inset 0px 0px 6px 3px #8e9b9c;
  color: hsl(0, 0%, 20%);
  padding: .5em;
  font-size: 1.5em;
  font-weight: bold;
  grid: 1;
}

button.zero {
  grid-column: 1 / 3;
}
